<ion-side-menus>

  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-list>
      <!--<ion-item menu-close ng-click="login()">-->
        <!--Login-->
      <!--</ion-item>-->
      <ion-item menu-close href="#/app/main">
        Main View
      </ion-item>
      <ion-item menu-close href="#/app/photos">
        Photos
      </ion-item>
      <ion-item menu-close href="#/app/playlists">
        Playlists
      </ion-item>
    </ion-list>
  </ion-side-menu>

  <!--Main Content-->
  <ion-side-menu-content>
    <!--HEADER BAR-->
    <!--<ion-nav-bar class="bar-stable">-->
      <!--<ion-nav-back-button></ion-nav-back-button>-->
      <!--<ion-nav-buttons side="left">-->
        <!--<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>-->
      <!--</ion-nav-buttons>-->
    <!--</ion-nav-bar>-->
    <!--<ion-nav-buttons side="left">-->
    <!--</ion-nav-buttons>-->
    <!--MAIN VIEW INJECTION POINT-->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

</ion-side-menus>